node_modules
npm-debug.log
.git
.gitignore
.env
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor/
.phpunit.result.cache
tests/
.editorconfig
.styleci.yml
